@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	color: rgb(255, 255, 255);
}

#__next {
	height: 100%;
	width: 100%;
}

nav {
	mix-blend-mode: exclusion !important;
}
